footer{
    height:250px;background-color:#FAF9F9;
    .footer-items{
        display: flex; justify-content: space-around;
    }
}
@media(min-width:767px){
    footer{
        height:200px;
        .footer-items{
             justify-content: center;
             img{
                 &:nth-child(2){
                     margin:0 40px;
                 }
             }
        }
    }
}